<a href="https://colab.research.google.com/github/hamsasriveni/python_traning/blob/main/az900trainingday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome to day first of programming")

welcome to day first of programming

In [ ]:
#this is demonstration of indent
if 5>3:
  print("yes condition holds")

yes condition holds

In [ ]:
"""this is multiline comment
you can have multilline comments using triple cotes
this is demo"""
print("multi comment")

multi comment

In [ ]:
name=input("enter your name:")
print("your name is:",name)

enter your name:hamsa
your name is: hamsa

In [ ]:
name=input("enter your name:")
print("your name is:",name)
dob=input("enter your dob:")
print("your dob is:",dob)

enter your name:hamsa
your name is: hamsa
enter your dob:04032003
your dob is: 04032003

In [ ]:
a=int(input("enter any number a"))
b=int(input("enter any number b"))
print("value of a before swapping:",a)
print("value of b before swapping:",b)
b=a+b
a=b-a
b=b-a
print("value of a after swapping:",a)
print("value of b after swapping:",b)

enter any number a2
enter any number b3
value of a before swapping: 2
value of b before swapping: 3
value of a after swapping: 3
value of b after swapping: 2

In [ ]:
#simple variable declaration using lower case and digit
var2=2
#snake  case variable declaration
var_of_int_type=44
#came case
myName="Hamsa"
#capwords
MyAge=19
#macrocase
COURSE='CSE'
print(type(var2))
print(type(var_of_int_type))
print(type(myName))
print(type(MyAge))
print(type(COURSE))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
x=1 #int
y=2.4#float
z=1j #complex
#convert from int to float
a=float(x)
print(a)
#convert from float to int
b=int(y)
print(b)
#convert int to complex
c=complex(x)
print(c)
print(type(a))
print(type(b))
print(type(a))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
str1='hi python'
print(str1)
str2="hi python"
print(str2)

hi python
hi python

In [ ]:
x='SR university'
y='python training'
print(x+'\t$\t'+y)
print(x+'&'+y)

SR university	$	python training
SR university&python training

In [ ]:
#repeat the string
print(x*2)

SR universitySR university

In [ ]:
print("the value of x:",x)
print("the value of y:",y)

the value of x: SR university
the value of y: python training

In [ ]:
#slicling operation
print(x[2:7])
print(x[-2:])
print(x[:7])
print(x[:-4])

 univ
ty
SR univ
SR univer

In [ ]:
#string methods
a="cloudthat tech"
b="45321"
print("this is capitalize method:",a.capitalize())
print("Is digit method",a.isdigit())
print("Is digit method",b.isdigit())
print("length method:",len(a))
str1="555"
a.replace('tech',str1)
print("find method:",a.find('tech'))

this is capitalize method: Cloudthat tech
Is digit method False
Is digit method True
length method: 14
find method: 10

In [ ]:
#while loop
a=int(input("enter any number"))
while(a<=20):
  print(a)
  a=a+4

enter any number4
4
8
12
16
20

In [ ]:
a = 0
for i in range(10):
    a += 1
    if a == 10:
        break
    print("The num has value:", a)
print("Out of loop")

The num has value: 1
The num has value: 2
The num has value: 3
The num has value: 4
The num has value: 5
The num has value: 6
The num has value: 7
The num has value: 8
The num has value: 9
Out of loop

In [ ]:
print("hello")

hello

In [ ]:
#for loop in a string 
for x in 'HAMSA':
    print(x)

H
A
M
S
A

In [ ]:
#for loop in the list
fruit=['cherry','banana','apple']
for x in fruit:
    print(x)

cherry
banana
apple

In [ ]:
#for loop in the list with break statement
fruit=['cherry','banana','apple']
for x in fruit:
    if x=='banana':
        break
    print(x)

cherry

In [ ]:
#for loop in the list with Continue statement
fruit=['cherry','banana','apple']
for x in fruit:
    if x=='banana':
        continue
    print(x)

cherry
apple

In [ ]:
 #pass statement
fruit=['cherry','banana','apple']
for x in fruit:
    pass

In [ ]:
 #range function
for a in range(8):
    print(a)

0
1
2
3
4
5
6
7

In [ ]:
for a in range(2,20,4):
    print(a)

2
6
10
14
18

In [ ]:
# nested loop
adj=['red','big','tasty']
fruit=['apple','banana','cherry']
for x in adj:
    for y in fruit:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#Mathematical function in python
import math
x=34.42
#ceil function
ceil_x=math.ceil(x)
print("ceil value of x is:",ceil_x)

#floor function
floor_x=math.floor(x)
print("floor value of x is:",floor_x)

#absolute function
x1=-24
abs_x1=math.fabs(x1)
print("absolute value of x1",abs_x1)

#find GCD
print("the GCD between 12 and 15:",math.gcd(12,15))

# find the non a number
if(math.isnan(x1)):
    print("x1 is not a number")
    
else:
    print("x1 is a number")
    
# find the  infinity
f1=float('inf')
print(math.isinf(f1))

print(math.isfinite(f1))

ceil value of x is: 35
floor value of x is: 34
absolute value of x1 24.0
the GCD between 12 and 15: 3
x1 is a number
True
False

In [ ]:
# log function
print("power function",math.pow(2,3))
print("sqrt function",math.sqrt(400))
print("exp function",math.exp(5))
print("log function with base 5",math.log(625,5))
print("log function with base 10",math.log(625,10))
print("log function with base 2",math.log(625,2))

power function 8.0
sqrt function 20.0
exp function 148.4131591025766
log function with base 5 4.0
log function with base 10 2.795880017344075
log function with base 2 9.287712379549449

In [ ]:
# Trigrnomatric function
print("the value of tan 90 ", math.tan(math.pi/2))
print("the vlaue of cos pi",math.cos(math.pi))

the value of tan 90  1.633123935319537e+16
the vlaue of cos pi -1.0

In [ ]:
x='helloworld'
print(len(x))

10

In [ ]:
str2='Learn python'
str2[-4:]

'thon'

In [ ]:
#String methods
str1=' hello world'
print("update string:",str1[:6]+'python')

update string:  hellopython

In [ ]:
print('world' in str1)
print('techno' not in str1)

True
True

In [ ]:
print("upper case:",str1.upper())
print("lower case:",str1.lower())
print("strip function:", str1.strip())
print("replace function",str1.replace('e','r'))

x1='learn,python'
print(x1.split(","))

upper case:  HELLO WORLD
lower case:  hello world
strip function: hello world
replace function  hrllo world
['learn', 'python']

In [ ]:
# string format
"""age=19
txt="my name is john, I am"+age
print(txt)"""


age=19
txt="my name is john, I am{}"
print(txt.format(age))

my name is john, I am19