<a href="https://colab.research.google.com/github/hamsasriveni/python_traning/blob/main/day2list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creation of list using string type
NewList=["apple","banana","cherry"]
print(type(NewList))
print(NewList)

<class 'list'>
['apple', 'banana', 'cherry']

In [ ]:
# access the element of list using index value
NewList[2]

'cherry'

In [ ]:
#create list with multiple type
List_with_differnt_type=["apple",2,True,"Tasty",2.6]
List_with_differnt_type
print(type(List_with_differnt_type))

<class 'list'>

In [ ]:
# create using list constructor list()
listConstruct=list(("a","b","c"))
print(listConstruct)
print(type(listConstruct))

['a', 'b', 'c']
<class 'list'>

In [ ]:
#to extact 2, True and Tasty from List_with_differnt_type
print(List_with_differnt_type[1:4])


#to extact 2 and Tasty from List_with_differnt_type
print(List_with_differnt_type[1:4:2])

[2, True, 'Tasty']
[2, 'Tasty']

In [ ]:
# negative indexing
List_with_differnt_type[-4:-1]

[2, True, 'Tasty']

In [ ]:
# some loop operation with list
print(List_with_differnt_type)
#for loop
for i in List_with_differnt_type:
    print(i)   
#Range function 
for i in range(len(List_with_differnt_type)):
    print("using range function:",List_with_differnt_type[i])

['apple', 2, True, 'Tasty', 2.6]
apple
2
True
Tasty
2.6
using range function: apple
using range function: 2
using range function: True
using range function: Tasty
using range function: 2.6

In [ ]:
#Methods in List
#Insert method
NewList=["apple","banana","cherry"]
NewList.insert(2,"litchi")
print(NewList)

['apple', 'banana', 'litchi', 'cherry']

In [ ]:
#append method
NewList.append("Mango")
print(NewList)

['apple', 'banana', 'litchi', 'cherry', 'Mango']

In [ ]:
#Extend method: it can add any iterable like list tuple set dictionary
#list1
NewList=["apple","banana","cherry"]
print(NewList)
#List 2
print(List_with_differnt_type)
# use concatenation
#print("using concat :", NewList+List_with_differnt_type)
# extend method
NewList.extend(List_with_differnt_type)
print(NewList)

['apple', 'banana', 'cherry']
['apple', 2, True, 'Tasty', 2.6]
['apple', 'banana', 'cherry', 'apple', 2, True, 'Tasty', 2.6]

In [ ]:
print(NewList)
print(List_with_differnt_type)

['apple', 'banana', 'cherry', 'apple', 2, True, 'Tasty', 2.6]
['apple', 2, True, 'Tasty', 2.6]

In [ ]:
#create a tuple of string type
tuple_var=("car","bike")
# list of int type
list1=["1,2,3,4"]
# extend to add tuple into list
list1.extend(tuple_var)
print(list1)

['1,2,3,4', 'car', 'bike']

In [ ]:
#Remove
list1.remove('car')
list1

['1,2,3,4', 'bike']

In [ ]:
#pop
list1=[1,2,3,4]
list1.pop()

4

In [ ]:
#clear: it clear all the element from the list
list1.clear()
list1

[]

In [ ]:
 #copy: it help in copying the list elements into specified list
NewList=["apple","banana","cherry"]
list1=NewList.copy()
list1

['apple', 'banana', 'cherry']

In [ ]:
#count of occurance of any element in list
list1.count('mango')

#index method
list1.index('cherry')

2

In [ ]:
#sort  and reverse
list1.sort()
list1

['apple', 'banana', 'cherry']

In [ ]:
list1.reverse()
list1

['cherry', 'banana', 'apple']